@using Contacts.ViewModels
@model ContactViewModel
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/content/StyleSheet.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <title>Index</title>
</head>
<body>
    <div class="header">
        <div class="title"> Contacts </div>
    </div>
    <div class="content">
        @if (Model.ErrorMessage != null)
        {
            @Model.ErrorMessage
        }
        else
        {
            <div>
                <div>First name: @Model.Contact.FirstName</div>
                <div>Last name: @Model.Contact.LastName</div>
                <div>City: @Model.Contact.City</div>
                <div>Note: @Model.Contact.Note</div>
            </div>
            <div>
                Phone numbers
                <table class="table-striped">
                    <tbody>
                        @foreach (var phoneNum in Model.Contact.PhoneNumbers)
                        {
                            <tr>
                                <td>@phoneNum.Type</td>
                                <td>@phoneNum.Number</td>
                                <td>@phoneNum.Note</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</body>
</html>

