@using Contacts.ViewModels
@model ContactViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/content/style.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <title>Index</title>
</head>
<body>
    <div class="header flex-container-row">
        <a asp-controller="Home" asp-action="Index" class="title">Contacts</a>
        <a asp-controller="Contact" asp-action="NewContact" class="actionButton">Add new contact</a>
    </div>
    <div class="content">
        <form asp-action="AddContact" method="post">
            <div style="margin-bottom: 1em;">
                <div>
                    <label for="Contact_FirstName">@Html.DisplayNameFor(model => model.Contact.FirstName)</label>
                    <input asp-for="Contact.FirstName" />
                </div>
                <div>
                    <label for="Contact_LastName">@Html.DisplayNameFor(model => model.Contact.LastName)</label>
                    <input asp-for="Contact.LastName" />
                </div>
                <div>
                    <label for="Contact_City">@Html.DisplayNameFor(model => model.Contact.City)</label>
                    <input asp-for="Contact.City" />
                </div>
                <div>
                    <label for="Contact_Note" style="vertical-align: top">@Html.DisplayNameFor(model => model.Contact.Note)</label>
                    <textarea asp-for="Contact.Note" rows="4" cols="50"></textarea>
                </div>
            </div>
            <div>
                <label for="Contact_PhoneNumbers">@Html.DisplayNameFor(model => model.Contact.PhoneNumbers)</label>
                <div id="phoneNumbers">
                    <div id="0" class="phoneNumber flex-container-row">
                        <input asp-for="Contact.PhoneNumbers[0].Type" placeholder="Type" />
                        <input asp-for="Contact.PhoneNumbers[0].Number" placeholder="Number" />
                        <textarea asp-for="Contact.PhoneNumbers[0].Note" rows="1" cols="40" placeholder="Note"></textarea>
                        <img src="~/images/delete-icon.png" id="deleteContact" class="icon" alt="Delete!">
                    </div>
                </div>
                <button id="addInputsForPhoneNumber" type="button">New phone number</button>
            </div>
            <div class="buttons">
                <button><a asp-controller="Home" asp-action="Index">Cancel</a></button>
                <button><a asp-controller="Contact" asp-action="NewContact">Reset</a></button>
                <input type="submit" value="Add contact" />
            </div>
        </form>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        $("#addInputsForPhoneNumber").click(addInputsForPhoneNumber);
        $("#deleteContact").click(deleteContact);
    });

    var phoneNum = 0;
    function addInputsForPhoneNumber() {
        phoneNum++; 

        var phoneDiv = $("<div>");
        phoneDiv.attr({ class: 'phoneNumber flex-container-row' });
        phoneDiv.attr({ id: phoneNum.toString() });

        var inputType = $("<input>");
        inputType.attr({ type: 'text' });
        inputType.attr({ id: 'Contact_PhoneNumbers_' + phoneNum + '__Type' });
        inputType.attr({ name: 'Contact.PhoneNumbers[' + phoneNum + '].Type' });
        inputType.attr({ placeholder: 'Type' });

        var inputNumber = $("<input>");
        inputNumber.attr({ type: 'text' });
        inputNumber.attr({ id: 'Contact_PhoneNumbers_' + phoneNum + '__Number' });
        inputNumber.attr({ name: 'Contact.PhoneNumbers[' + phoneNum + '].Number' });
        inputNumber.attr({ placeholder: 'Number' });

        var inputNote = $("<textarea>");
        inputNote.attr({ type: 'text' });
        inputNote.attr({ id: 'Contact_PhoneNumbers_' + phoneNum + '__Note' });
        inputNote.attr({ name: 'Contact.PhoneNumbers[' + phoneNum + '].Note' });
        inputNote.attr({ placeholder: 'Note' });
        inputNote.attr({ rows: '1' });
        inputNote.attr({ cols: '40' });

        var imgDelete = $("<img>");
        imgDelete.attr({ src: "/images/delete-icon.png" });
        imgDelete.attr({ id: 'deleteContact' });
        imgDelete.attr({ alt: "Delete!" });
        imgDelete.attr({ class: "icon" });
        imgDelete.click(deleteContact);

        phoneDiv.append(inputType);
        phoneDiv.append(inputNumber);
        phoneDiv.append(inputNote);
        phoneDiv.append(imgDelete);

        $("#phoneNumbers").append(phoneDiv);
    }

    function deleteContact() {
        if (phoneNum > 0) {
            var phoneNumberId = event.srcElement.parentElement.id;

            var x;
            for (x = parseInt(phoneNumberId); x < $("#phoneNumbers").children().length - 1; x++) {
                xNext = x + 1;
                $("#Contact_PhoneNumbers_" + x + "__Type").val($("#Contact_PhoneNumbers_" + xNext + "__Type").val());
                $("#Contact_PhoneNumbers_" + x + "__Number").val($("#Contact_PhoneNumbers_" + xNext + "__Number").val());
                $("#Contact_PhoneNumbers_" + x + "__Note").val($("#Contact_PhoneNumbers_" + xNext + "__Note").val());
            }

            $("#phoneNumbers").children().last().remove();
            phoneNum--;
        } else {
            if (phoneNum == 0) {
                $("#Contact_PhoneNumbers_0__Type").val("");
                $("#Contact_PhoneNumbers_0__Number").val("");
                $("#Contact_PhoneNumbers_0__Note").val("");
            }
        }
    }
</script>

